{% extends 'home.html' %}
{% load static %}

{% block title %}Posts{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <h1>Posts</h1>
            <div class="container-sm">
                {% for post in posts %}
                    <li>{{ post.title }} - {{ post.text }}</li>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="?download_pdf=1&post_id={{ post.id }}" download="{{ post.id }}.pdf">
                            <button>Download PDF</button>
                        </a>
                    </div>
                {% empty %}
                    <li>No posts available.</li>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}


<link rel="stylesheet" type="text/css" href="{% static 'blog/post_form.css' %}">
